*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app{
    width: 35%;
    /* height: 50vh; */
    background-color: #ffff;
    border-radius: 10px;
    padding: 40px 30px 70px;
    box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo-app h2 img{
    width: 20px;
    margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
  /* border: 1px solid white; */
}

input{
    flex: 1; /*it means it wil take full width */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;   
}
button{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style: none; /* it will remove dots*/
    font-size: 1.3vw;
    padding: 12px 8px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #4a4949;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0 ;
}

#alert{
    display: none;
    margin-left: 15px;
    color: red;
    font-size: 1vw;
}